/***** RESET *****/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code,del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, sub, sup, tt, var, b, u, i, center,dl, dt, dd, ol, ul, li,fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	/*font-size: 100%;
	vertical-align: baseline;*/
	
}
html, body {height:100%;}
body {line-height: 1;}
ol, ul {list-style: none;}
blockquote, q {quotes: none;}
blockquote:before, blockquote:after, q:before, q:after {content: '';content: none;}
table {border-collapse: collapse;border-spacing: 0;} /
textarea {overflow:auto;}

/***** RESET *****/

body {  background:url(images/bg.gif);}
.hepsi { width:821px; height:auto; margin:20px auto}
.logo { width:229px; height:94px; background:url(images/logo.gif)}
.menu { width:821px; height:30px; background:url(images/menu_bg.gif); padding:12px 0 0 0;}
.orta { width:801px; height:740px; background:#e9e5e2; padding:20px 0 0 20px;}
.alt { width:821px; height:45px; padding:5px 0 0 0; background:url(images/csstemplatesmarket.gif) no-repeat; background-position:645px 10px}

.menu ul li { float:left}
.menu ul li a { display:block; width:80px; height:30px; text-decoration:none; font:bold 12px tahoma; color:#fff; text-align:center}
.menu ul li#home a { background:url(images/menu_bullet.gif) center bottom no-repeat; text-align:center}
.menu ul li a:hover { background:url(images/menu_bullet.gif) center bottom no-repeat;}

.baslik { height:30px; width:400px; font:20px verdana; color:#39F; text-align:left; letter-spacing:2px;}
.ustkutu { width:441px; height:177px; background:url(images/welcome_box.gif) no-repeat; padding:25px 40px 0 25px ; font:13px tahoma; float:left; text-align:justify; line-height:20px}
.read  { width:79px; height:19px;background: url(images/read_more_bg.gif); font:bold 11px tahoma;  text-align:right; padding:4px 4px 0 0; position:relative; left:350px; top:20px}
.read a { color:#FFF; text-decoration:none}
.read a:hover  { text-decoration:underline}
.kitap { width:187px; height:265px; background:url(images/3dbox.gif); float:left; margin:-25px 0 0 60px; float:left}
.orta1 { width:466px; height:142px; float:left; font:bold 13px tahoma; color:#000; padding:10px 0 0 30px}
.orta1 li{ display:block;width:402px; height:21px; background:url(images/bullet_list.gif) no-repeat;font: normal 11px tahoma; padding:4px 0 0 8px}
.orta2 { width:268px; height:139px; float:left; background:url(images/text_box.gif) no-repeat; padding:20px 0 0 20px}
.orta2 td { font: bold 11px tahoma; color:#000}
.orta2 td span { font-size:15px}
.metinkutusu { border:1px solid #b5c6d0; border-radius:5px; width:150px; height:16px; }
.button { width:83px; height:24px; background:url(images/login.gif); border:none; margin:10px 0 0 0}
.orta3 { width:466px; height:180px; float:left; font:bold 13px tahoma; color:#000;  margin:60px 0 0 20px; float:left; }
.orta3 li{ display:block;width:416px; height:80px; font: normal 13px tahoma; background:url(images/news_icon.gif) no-repeat; padding:5px 0 0 40px; text-align:justify}
.ortaaltliste { border-bottom:1px dashed #ccc; border-top:1px dashed #ccc}

.orta4 { width:278px; height:199px; ;background:url(images/text_box.gif) no-repeat; background-position:bottom; float:left; position:relative; left:515px; top:-290px; font:12px tahoma; padding: 10px 0 0 10px; line-height:20px}




.alt ul li { float:left; position:relative; left:-280px}
.alt ul li a { display:block; width:auto; height:22px; text-decoration:none; font:bold 12px tahoma; color:#666; padding:0 0 0 10px} 
.alt ul li a:hover { text-decoration:underline }

.yazi1 { font:bold 22px tahoma; color:#C53}
.yazi2 { color:#C60 }
.yazi3 { font:bold 13px tahoma }
.yazi4 { font:bold 15px tahoma }
.yazi5 { font:bold italic 12px tahoma }
